<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Website - About</title>
    <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
    <div class="container">
        <img src="/static/kimberly.jpg" alt="Kimberly Pecco" class="profile-image">
        <h1>Kimberly Pecco</h1>
        <p>
            Hi!!, I'm Kimberly Pecco! I've been hooked on the web and tech world since I typed my first line of code. 
            I love the problem-solving, building something out of nothing, and watching ideas come to life through code. 
            I'm currently learning Flask as part of my INFO3180 course, being introduced to creating dynamic web applications. 
            In addition to coding, I enjoy finding new technology trends, personal projects, and pushing myself to constantly improve. 
            Beyond the computer screen, you will most likely find me contemplating my next great idea or immersed in a fantastic book. 
            I am excited for what the future has in store and looking forward to where this passion will take me!.


        🥰
        </p>
    </div>
</body>
</html>
